//
// The basic two column layout
//
//

.site-header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;

  display: flex;
  align-items: center;

  color: #FFF;
  background: #5A70BE;

  @include mq(md) {
    .site-button {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    width: $nav-width + $content-width;
    margin: 0 auto;
  }
}

.site-title {
  display: flex;
  align-items: center;
  padding: $sp-3 15px $sp-3 $gutter-spacing-sm;
  color: $body-heading-color;

  font-family: $header-font-family;
  font-weight: 800;
  text-transform: uppercase;

  @include fs-6;
}

.site-subtitle {
  flex-grow: 1;
  display: flex;
  align-items: center;

  font-family: $header-font-family;
  font-weight: 600;
  font-size: 17px;
  color: #D1DFFA;
  border-left: 1px solid #D1DFFA;
  padding-left: 12px;
  height: 35px;


  @include mq(md) {
    font-size: 20px;
  }
}

.site-links {
  display: none;
  margin-right: 2rem;

  @include mq(md) {
    display: flex;
  }
}
.site-link {
  margin-left: 20px;
  color: #FFF;
  background: #3E4151;
  height: 28px;
  border-radius: 14px;
  padding: 8px 14px;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.side-bar {
  display: flex;
  flex-wrap: wrap;
  margin-top: $header-height;

  @include mq(md) {
    flex-wrap: nowrap;
    position: fixed;
    z-index: 0;
    top: 0;
    width: $nav-width;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-top: $header-height;
    margin-left: $nav-width;
  }

  @include mq(lg) {
    margin-left: calc(
      (100% - #{$nav-width + $content-width}) / 2 + #{$nav-width}
    );
  }
}

.main-content-wrap {
  @include container;
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;
  display: none;
  background-color: $sidebar-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
  }

  &.nav-open {
    display: block;

    @include mq(md) {
      display: flex;
    }
  }
}

.site-nav,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
  color: #FFF;

  .icon {
    color: #FFF;
  }
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  @include container;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
